
.reveal .slides::after {
    content: "";
    background-image: url("../images/osp_logo_rgba70.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: right top;
    opacity: 0.5;
    top: -20px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.reveal section.title h1, .reveal section h2 {
    color: #e11f1f;
    text-transform: none;
}

.reveal section img { border: none; }
.reveal h1 { font-size: 1.5em; }
.reveal dt { font-size: 80%; }
.reveal p { font-size: 90%; }
